<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为BattalionTypeDao接口方法提供sql语句配置 -->
<mapper namespace="cn.ch.battalion.core.dao.BattalionTypeDao">
    <select id="selects" resultType="cn.ch.battalion.api.service.bean.BattalionTypeBean">
        select id as typeId,name as typeName
        from battalion_type
    </select>
</mapper>