<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserDao接口方法提供sql语句配置 -->
<mapper namespace="cn.ch.battalion.core.dao.UserDao">

    <select id="selectName" resultType="java.lang.String" parameterType="java.lang.Long">
        select name from user
        where id = #{id}
    </select>

    <insert id="insert" parameterType="cn.ch.battalion.core.model.User">
        insert into user(name,password,email)
        values(#{name},#{password},#{email})
    </insert>

    <select id="selectUserCountByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from user
        where name = #{name}
    </select>

    <select id="selectUserCountByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from user
        where email = #{email}
    </select>

    <select id="selectId" parameterType="cn.ch.battalion.core.model.User" resultType="java.lang.Long">
        select id from user
        where name = #{name}
        and password = #{password}
    </select>

    <update id="updatePassword">
        update user
        set password = #{password}
        where id = #{id}
    </update>
</mapper>