<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
</head>
<body>

<div style="margin: 50px;padding: 50px">
    <p>首页轮播图片</p>
    <div>
        <div class="layui-row">
            <div class="layui-col-md4">
                <div style="margin: 5px 5px;padding-bottom: 20px;padding-top: 5px;padding-left: 5px;padding-right: 5px;border: 1px solid #f6f5f5">
                    <div class="layui-col-md12"><a href="/battalion/details/5"> <span
                            style="font-size: large">aa5</span> </a> <span class="count">0人报名</span></div>
                    <a href="/battalion/details/5"> <img class="image"
                                                         src="/static/image/QQ截图20180324142128%20-%20副本1523961150727.png">
                    </a>
                    <div class="layui-col-md12"><span class="date">2018-05-05到2018-06-01</span> <span class="deadline">截止报名 2018-04-27</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div style="margin: 5px 5px;padding-bottom: 20px;padding-top: 5px;padding-left: 5px;padding-right: 5px;border: 1px solid #f6f5f5">
                    <div class="layui-col-md12"><a href="/battalion/details/6"> <span
                            style="font-size: large">aa6</span> </a> <span class="count">0人报名</span></div>
                    <a href="/battalion/details/6"> <img class="image"
                                                         src="/static/image/QQ截图20180324142128%20-%20副本1523961150727.png">
                    </a>
                    <div class="layui-col-md12"><span class="date">2018-05-06到2018-06-01</span> <span class="deadline">截止报名 2018-04-28</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div style="margin: 5px 5px;padding-bottom: 20px;padding-top: 5px;padding-left: 5px;padding-right: 5px;border: 1px solid #f6f5f5">
                    <div class="layui-col-md12"><a href="/battalion/details/7"> <span
                            style="font-size: large">aa7</span> </a> <span class="count">0人报名</span></div>
                    <a href="/battalion/details/7"> <img class="image"
                                                         src="/static/image/QQ截图20180324142128%20-%20副本1523961150727.png">
                    </a>
                    <div class="layui-col-md12"><span class="date">2018-05-07到2018-06-01</span> <span class="deadline">截止报名 2018-04-29</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a>添加</a>
</div>

</body>
</html>